@import "bootstrap/bootstrap.less";

@import url("http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,400italic");

// font-family: 'Droid Sans', sans-serif;
// font-family: 'Droid Serif', serif;

body {
  font-family: 'Oxygen', sans-serif;
  padding-top: 10px;
  padding-bottom: 40px;
}
body:before {
  /* top shadow */ content: "";
  position: fixed;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 10px;
  .box-shadow(0px 0px 10px rgba(0,0,0,.8));
  z-index: 100;
}
@import "bootstrap/responsive.less";

/**
 * Colors
 */
@black: rgb(0,0,0);
@gray: rgb(189,184,173);
@lightGray: rgb(235,231,224);
@lightBlue: rgb(198,212,225);
@blue: rgb(68,116,157);
@white: rgb(255,255,255);

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
body{
  background: @lightGray;
  font-family: 'Droid Sans', sans-serif;
}
header{
  border-bottom: 1px solid @black;
  margin: 10px;
  padding-top: 5px;

  .span12{
    margin-bottom: 15px;
  }
  h1{
    // background: @white;
    color: @blue;
    display: inline-block;
    font-family: 'Droid Serif', serif;
    font-size: 70px;
    line-height: 85px;
    text-shadow: 2px 4px 2px @white;
    .rotate(-4deg);

    &:hover{
      cursor: pointer;
      .rotate(0deg);
    }
  }
  nav{
    ul{
      list-style: none;

      li{
        a{

          color: @blue;
        }
      }
    }
  }
}







