@import "libs/pure-min";
@import "variables";
@import "../fonts/fonts";

html, body {
  background: $black;
  color: $white;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: $ltBlueA1;
}

::-webkit-scrollbar-thumb
{
  background: $ltBlueA5;
}

h1 {
  font-weight: $fontWeight;
  // margin: 0 0 0 1%;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slidein;
  -webkit-animation-delay: 0.5s;
  -moz-animation-duration: 3s;
  -moz-animation-name: slidein;
  -moz-animation-delay: 0.5s;
  animation-duration: 3s;
  animation-name: slidein;
  animation-delay: 0.5s;

}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 1%;
    width: 100%;
  }
}
@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 1%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 1%;
    width: 100%;
  }
}

.linkWrap {
  height: 70%;
  overflow: auto;
  padding-bottom: 10px;
  width: 100%;
}
a {
  color: $white;
  display: block;
  font-size: $fontSize;
  font-size: $fontSizeR;
  text-decoration: none;
  transition: font-size 0.5s ease,
    color 0.5s ease;
  width: 100%;

  &:hover {
    color: $blue;
    font-size: $fontSizeTransition;
    font-size: $fontSizeRTransition;

    &:nth-child(4){
      color: $dkGreen;
    }
  }
}
