@import "libs/pure-min";
@import "variables";
@import "../fonts/fonts";

html, body {
  background: $black;
  color: $white;
}

h1 {
  font-weight: $fontWeight;
}

a {
  color: $white;
  display: block;
  font-size: $fontSize;
  font-size: $fontSizeR;
  text-decoration: none;
}
