// Fern's World Vars

// standard colors
$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 94%);
$black: hsl(0, 0%, 0%);
$blackAlpha: hsla(0, 0%, 0%, 0);
$dimgrey: hsl(0, 0%, 41%);


// Fonts
$fontSize: 4em;
$fontSizeR: 5.4vw;
// Symbol Size
$symbolSize: 4em; // was 130%